
/*
 *
 * ------------------------------------------------------
 * Root DobokCSS
 * ------------------------------------------------------
 *
 * page:    https://dobokcss.github.io
 * source:  https://github.com/dobokcss/root
 * author:  Estefanio N Santos <estefanions AT gmail DOT com> 
 * version: 0.30.0
 */

:root {
    --prm: #40535b;
    --scn: #912e2e;
    --hv_prm: #323f44;
    --hv_scn: #7c2a2a;
}

